.sign-up {
  font-family: Raleway;
  padding: 40px;
  background-color: #f1f1f1;
  max-width: 700px;
  height: 100vh;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .requirement {

    .pwd-requirements {
      padding: 0 16px;
      margin: 2px 16px 16px 16px;
      border: 1px solid #d3d3d3;

      .req-item {
        line-height: 1em;
        font-size: 90%;
        margin: 1rem 0;
      }

      .correct {
        color: #4CAF50;
      }
    }
  }

  .form-signup {
    .form-input {
      margin: 4px 0 5px 0;
    }

    .btn-create-account {
      background-color: #4CAF50;
      border-radius: 5px;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.5;
    }
  }
}
