<div class="login">
  <div class="container sign-in">
    <div class="title">
      <h2>SIGN IN</h2>
    </div>
    <div class="form-signin">
      <form>
        <label><b>Email: </b></label>
        <input class="form-control form-input" type="email"
               placeholder="Enter a valid e-mail address" v-model="email" required/>

        <label><b>Password </b></label>
        <input class="form-control form-input" type="password"
               placeholder="Enter Password" v-model="password" required/>
        <button type="submit" @click.prevent="onSubmit"
                class="btn-create-account mt-2">LOGIN</button>
        <div class="d-flex justify-content-end">
          <router-link to="/register">Sign Up for free!</router-link>
        </div>
      </form>
    </div>
  </div>
</div>
